* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #dfe1e6;
}

header {
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  background-color: white;
}

.icon {
  width: 100px;
  height: 40px;
  top: calc(50% - 40px / 2);
  left: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 12px 10px 12px;
}

section {
  display: flex;
  flex-direction: column;
}

section > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.icon > a {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

nav {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.tonav {
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
}

.tonav > i {
  color: #6070ff;
  font-size: 24px;
}

.about {
  background-color: white;
  border: 1px solid #dfe1e6;
  background-image: url("images/header-shapes.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  border-top: none;
  height: 590px;
  padding: 20px;
  border-radius: 0 0 0 70px;
  padding-top: 104px;
}

.snap_container {
  margin: 50px 0;
}

.snap_container > article {
  background-color: white;
  border: 2px solid #dfe1e6;
  border-radius: 20px;
  margin: 50px 20px;
  padding: 20px;
}

article > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 10px 0;
}

section > h1,
section > h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #172b4d;
  margin: 12px 0;
}

section > p,
section > h3 {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.social_media {
  position: static;
  min-width: 193.17px;
  height: 20px;
  left: 24px;
  top: 470px;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

.social_media > li {
  margin: 10px;
  list-style: none;
}

.social_media i {
  color: #505f79;
  font-size: 21px;
}

.snapshoot {
  width: inherit;
  height: 220px;
  display: block;
}

.snapshoot > img {
  width: 100%;
  height: 100%;
}

.frame {
  width: 236px;
  height: 32px;
  display: grid;
  margin: 10px 0;
  align-items: center;
  grid-template-columns: auto auto auto auto auto;
}

.frame > p,
.frame > h4 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.frame > h4 {
  color: #344563;
}

.frame > div {
  background-color: #e5e5e5;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.text > p {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.lang {
  width: 203px;
  height: 24px;
  margin: 20px 0 5px 0;
}

.lang > li {
  height: inherit;
  float: left;
  margin: 0 3px;
  padding: 0 5px;
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  list-style: none;
}

button {
  padding: 10px;
  height: 48px;
  max-width: 162px;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin: 20px 0;
}

input[type="submit"] {
  width: 30%;
  background-color: white;
  color: #6070ff;
  font-size: 17px;
  line-height: 24px;
  min-width: 120px;
}

button:hover,
input[type="submit"]:hover {
  background-color: #6070ff;
  color: white;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:disabled,
input[type="submit"]:disabled {
  border: 1px solid #5e6c84;
  color: #5e6c84;
}

button:active,
input[type="submit"]:active {
  background-color: #2230d2;
  box-shadow: none;
  color: white;
}

.lan-tle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f7f7f9;
}

.toggle {
  display: grid;
  grid-template-rows: 66px 66px 66px;
  grid-row-gap: 10px;
  margin: 10px 0;
}

.tags {
  border-bottom: none;
}

.container-lan {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 327px;
}

.lan-tle > h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  height: 72px;
  display: flex;
  align-items: center;
}

.lan-tle > i {
  font-weight: 500;
  font-size: 27px;
  color: #5e6c84;
}

.lan {
  display: grid;
  padding: 0 10px;
  grid-template-columns: 62px auto;
  background-color: #f7f7f9;
  border-radius: 8px;
  align-items: center;
}

.lan > p {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.Fabout {
  padding: 20px;
  padding-top: 100px;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  border: none;
  border-radius: 0 70px 0 0;
}

.contact {
  padding: 20px;
  padding-top: 80px;
  background-color: #6070ff;
  background-image: url("images/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  border: none;
  border-radius: 70px 0 0 0;
}

.txt {
  color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.txt > h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
  line-height: 52px;
}

.txt > p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

form {
  display: block;
  width: 100%;
  padding: 5%;
}

input {
  width: 90%;
  height: 48px;
  margin: 10px 0;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

textarea {
  width: 90%;
  margin: 10px 0;
  border: none;
  padding: 20px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.line {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  margin: auto;
  border-radius: 50px;
}
